<html>
<!DOCTYPE html>
<html lang="en">
	<script src="/socket.io/socket.io.js"></script>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<title>Project Alpha</title>
	<link rel="stylesheet" type="text/css" href="static\mystyle.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  </head>

  <body>

    <header>
      <div class="logo">SmartHome</div>
      <nav>
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('contact_us') }}">Contact Us</a></li>
          <li class="log"><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </nav>
      <div class="menu-toggle">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </header>
  

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static\index_handle.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
  </body>
  <html>
